assets/xml/person.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0"
     xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
  <xs:element name="person">
    <xs:complexType>
      <xs:attribute name="name" type="xs:string"/>
      <xs:attribute name="age" type="xs:int"/>
    </xs:complexType>
  </xs:element>
</xs:schema>